main {
    overflow: hidden;
}

main section {
    width: 100vw;
    height: 100vh;
    /* background-size: auto;
    background-position: center;
    background-repeat: no-repeat; */
    position: relative;
    border-bottom: 1px solid #000;
}

main .section_02 {
    height: 78vh;
}

main .section_02 .tab_menu {
    width: 900px;
    margin: 0 auto;
}

main .section_02 .tab_menu .tab_menu_button button {
    width: 25%;
    border: none;
    background-color: #fff;
    font-size: 23px;
    color: #e9e9e9;
    border-bottom: 1px solid #222;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: 600;
}

main .section_02 .tab_menu .tab_menu_button button:hover {
    color: #222;
    
}

main .section_02 .tab_menu .tab_menu_button button.on {
    color: #222;
    border: 1px solid #222;
    border-bottom: none;
}

main section:last-child {
    border: none;
}

section.section_01 .section_01_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.section_01 .section_01_box h2, .section_02 h2 {
    font-size: 45px;
    font-weight: 600;
    color: #222;
    /* text-shadow: 5px 3px 5px #0F0704; */
    margin-bottom: 20px;
    text-align: center;
}

.section_02 h2 {
    margin-top: 120px;
    margin-bottom: 100px;
}

section.section_01 .section_01_box input {
    width: 800px;
    height: 70px;
    border: 10px solid darkblue;
    font-size: 24px;
    padding: 10px;
}

.book_area .book_info {
    display: inline-block;
    width: 180px;
    height: 300px;
    vertical-align: top;
    padding: 10px;
    overflow: hidden;
    margin-right: 30px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.book_area .book_info:last-child {
    margin-right: 0;
}

.book_area .book_info:hover {
    -webkit-box-shadow: 0px 2px 19px 3px rgba(0,0,0,0.25); 
    box-shadow: 0px 2px 19px 3px rgba(0,0,0,0.25);
    border: 1px solid #fff;
}

.book_area .book_info img {
    width: 180px;
    height: 150px;
    display: inline-block;
    border-bottom: 1px solid #ddd;
}

.book_area .book_info p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
    margin-bottom: 10px;
}